body{
background-image: url(https://theedunepal.ap-south-1.linodeobjects.com/uploads/clients/nationalinfotech/logo/ca197501f6976ac27af3780579e6a2ae-nationalinfotech.png);
background-repeat: no-repeat;
background-attachment: scroll;
background-size: 100%;    
}


h1{
    position: relative;
    color:blanchedalmond;
    background-color:orangered  ;
    text-align: center;
    font-family: fantasy;
}


li{
    font-weight: bolder;
    font-size: x-large;
    color: aqua;
}

   
h2{
    color: aquamarine;
    text-align: left;
    font-size: xx-large;
}

h3{
    color: blanchedalmond;
    font-size: xx-large;
}
